# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Project Data (Generated)
data/inputs/*
data/outputs/*
data/template/*
!data/inputs/.gitkeep
!data/template/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
